<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBUgxg8aVo-jr47MWYYOPtgMvJwG_4C5Gw</string>
	<key>GCM_SENDER_ID</key>
	<string>109740093303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.san3a</string>
	<key>PROJECT_ID</key>
	<string>san3a-9370a</string>
	<key>STORAGE_BUCKET</key>
	<string>san3a-9370a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109740093303:ios:e9e772aee04a2b20233b72</string>
</dict>
</plist>